body {
    background-color:rgb(249, 241, 255);
    font-family: "Sour Gummy", sans-serif;
    text-align:center;
    color: rgb(64, 50, 79);
}

a{
  color: rgb(64, 50, 79);
}

li{
    display: inline;
}

li a {
    color: rgb(64, 50, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

  img{
    width: 50%;
    margin: 10px;
    border: 3px solid rgb(64, 50, 79); 
    float: left;
}

.tab a:hover {
  background-color: #b9b8ba68;
}

.home_page_container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.home_page_container > div {
  margin: 10px;
  text-align: center;
  line-height: 30px;
}
/*here are the flex-boxes (and containers) I've created to design the grid-like shape for my portfolio*/
.sample {
  display: grid;
  place-items: center;
  grid-template-columns: 300px 500px;
  grid-template-rows: auto;
}

.sample_left {
  grid-column: 1;
  grid-row: 1;
}

.sample_right {
  grid-column: 2;
  grid-row: 1;
}

.sample_text{
  grid-column: 1;
}

.sample_text_down{
  grid-row: 2;
}
